In [174]:
import pandas as pd
csv_data = "dupl_removed_final3.csv"

In [175]:
music_df = pd.read_csv(csv_data)

In [176]:
music_df.head()

,artist_names,track_name,rank,weeks_on_chart,streams,danceability,energy,loudness,speechiness,acousticness,valence,tempo,duration,country
0,SyKo,#BrooklynBloodPop!,189,2,6046,0.691,0.814,-3.788,0.117,0.0164,0.509,132.012,146,Bulgaria
1,SyKo,#BrooklynBloodPop!,79,1,7204,0.691,0.814,-3.788,0.117,0.0164,0.509,132.012,146,Estonia
2,SyKo,#BrooklynBloodPop!,54,2,9060,0.691,0.814,-3.788,0.117,0.0164,0.509,132.012,146,Estonia
3,SyKo,#BrooklynBloodPop!,71,3,8243,0.691,0.814,-3.788,0.117,0.0164,0.509,132.012,146,Estonia
4,SyKo,#BrooklynBloodPop!,108,4,7515,0.691,0.814,-3.788,0.117,0.0164,0.509,132.012,146,Estonia

In [177]:
countries_data = music_df.groupby(music_df['country'])['danceability', 'energy','loudness',
       'speechiness', 'acousticness','valence', 'tempo', 'duration'].mean()

C:\Users\cmbut\AppData\Local\Temp\ipykernel_7136\2272196859.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  countries_data = music_df.groupby(music_df['country'])['danceability', 'energy','loudness',

In [178]:
countries_attrib_df = pd.DataFrame(countries_data).sort_values(['country'])
countries_attrib_df = countries_attrib_df.reset_index()
countries_attrib_df.head(5)

,country,danceability,energy,loudness,speechiness,acousticness,valence,tempo,duration
0,Argentina,0.744013,0.675101,-5.216302,0.131787,0.229910,0.646563,120.360768,206.661807
1,Australia,0.647711,0.633686,-6.481121,0.095834,0.254743,0.504944,120.494618,210.157895
2,Austria,0.690939,0.671089,-6.318950,0.111944,0.213600,0.532730,123.415775,187.416711
3,Belarus,0.685134,0.656724,-7.133241,0.125515,0.213192,0.455123,124.346252,171.488864
4,Belgium,0.696079,0.677366,-6.198538,0.108677,0.218400,0.549937,122.500907,197.808202

In [179]:
countries = []
countries = [column for column in countries_attrib_df['country']]
print(countries)

['Argentina', 'Australia', 'Austria', 'Belarus', 'Belgium', 'Bolivia', 'Brazil', 'Bulgaria', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Cyprus', 'Czech Republic', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kazakhstan', 'Korea', 'Latvia', 'Lithuania', 'Luxembourg', 'Malaysia', 'Mexico', 'Morocco', 'Netherlands', 'New Zealand', 'Nicaragua', 'Nigeria', 'Norway', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Saudi Arabia', 'Singapore', 'Slovakia', 'South Africa', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Venezuela', 'Vietnam']

In [180]:
csv_data2 = "artist_genres.csv"
genre_df = pd.read_csv(csv_data2)
genre_df.head(5)

                           artist_names    artist_genre
0                  Bad Bunny, Tony Dize   latin hip hop
1  Blessd, Justin Quiles, Lenny Tavárez       reggaeton
2  Blessd, Justin Quiles, Lenny Tavárez       reggaeton
3  Blessd, Justin Quiles, Lenny Tavárez  reggaeton flow
4          Eladio Carrion, Nicki Nicole     trap triste

In [181]:
genre_df = genre_df.loc[genre_df['artist_genre'] != '0']

In [182]:
most_pop_genres_df = pd.DataFrame(genre_df.groupby(genre_df['artist_genre']).count())
most_pop_genres_df = most_pop_genres_df.sort_values(['artist_names'], ascending=False)
top_fifty_genres_df = most_pop_genres_df.head(50)

top_fifty_genres_df

                           artist_names
artist_genre
pop                              107610
trap latino                       40392
latin                             34474
reggaeton                         33662
dance pop                         31377
rap                               19871
uk pop                            17790
k-pop                             15272
canadian pop                      14007
hip hop                            9630
reggaeton colombiano               8903
pop rap                            8743
german hip hop                     8521
trap                               8477
latin pop                          8472
pop dance                          7472
melodic rap                        7364
tropical house                     6754
chicago rap                        6380
k-pop boy group                    6323
canadian contemporary r&b          6282
latin hip hop                      6246
j-pop                              6231
australian hip hop                 6224
israeli pop                        6030
trap argentino                     5795
edm                                5748
reggaeton flow                     5743
r&b                                5698
puerto rican pop                   5697
cantopop                           5617
modern rock                        5536
danish pop                         5384
mandopop                           5326
greek trap                         5243
indonesian pop                     5126
arrocha                            5052
brooklyn drill                     4974
electropop                         4889
italian pop                        4853
russian hip hop                    4566
rock                               4513
thai pop                           4431
slap house                         4414
dutch pop                          4376
post-teen pop                      4375
polish hip hop                     4142
egyptian hip hop                   4046
lgbtq+ hip hop                     4038
colombian pop                      4001

In [183]:
top_fifty_genres_df.columns

Index(['artist_names'], dtype='object')

In [185]:
music_df.columns

Index(['artist_names', 'track_name', 'rank', 'weeks_on_chart', 'streams',
       'danceability', 'energy', 'loudness', 'speechiness', 'acousticness',
       'valence', 'tempo', 'duration', 'country'],
      dtype='object')

In [188]:
aver_rank_streams = music_df.groupby(['artist_names','track_name'])['rank','streams'].mean().round(0)
aver_rank_streams_df = pd.DataFrame(aver_rank_streams)

aver_rank_streams_df.head(5)

C:\Users\cmbut\AppData\Local\Temp\ipykernel_7136\3761898699.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  aver_rank_streams = music_df.groupby(['artist_names','track_name'])['rank','streams'].mean().round(0)

,,rank,streams
artist_names,track_name,,
"#TocoParaVos, El Reja, Marka Akme",Se Picó,94.0,137573.0
$NOT,GOSHA,155.0,5724.0
"$NOT, A$AP Rocky",Doja,108.0,242309.0
"$NOT, Lil Skies, Internet Money",Whipski (feat. Lil Skies & Internet Money),138.0,440500.0
$OHO BANI,VIRAL,138.0,398532.0

In [189]:
aver_rank_streams_df = aver_rank_streams_df.reset_index()
aver_rank_streams_df = aver_rank_streams_df[['artist_names','track_name','rank','streams']]
aver_rank_streams_df.head(5)

,artist_names,track_name,rank,streams
0,"#TocoParaVos, El Reja, Marka Akme",Se Picó,94.0,137573.0
1,$NOT,GOSHA,155.0,5724.0
2,"$NOT, A$AP Rocky",Doja,108.0,242309.0
3,"$NOT, Lil Skies, Internet Money",Whipski (feat. Lil Skies & Internet Money),138.0,440500.0
4,$OHO BANI,VIRAL,138.0,398532.0

In [191]:
max_weeks_on_chart = music_df.groupby(['artist_names','track_name'])['weeks_on_chart'].max()
max_weeks_on_chart_df = pd.DataFrame(max_weeks_on_chart).sort_values(['weeks_on_chart'], ascending=False)
max_weeks_on_chart_df = max_weeks_on_chart_df.reset_index()

In [192]:
max_weeks_on_chart_df.columns

Index(['artist_names', 'track_name', 'weeks_on_chart'], dtype='object')

In [193]:
coolness_df = pd.merge(max_weeks_on_chart_df,aver_rank_streams_df,how='left',left_on=['artist_names','track_name'],right_on=['artist_names','track_name'])

In [194]:
coolness_df['WOC_ratio'] = coolness_df['weeks_on_chart'].div(290).round(3)
coolness_df.head(5)

,artist_names,track_name,weeks_on_chart,rank,streams,WOC_ratio
0,Ed Sheeran,Photograph,290,147.0,130715.0,1.0
1,Hebe Tien,小幸運,290,108.0,54015.0,1.0
2,"Anuel AA, Daddy Yankee, Zion & Lennox, Farruko...",Sola (Remix),290,137.0,45522.0,1.0
3,James Arthur,Say You Won't Let Go,290,124.0,163759.0,1.0
4,South Border,Rainbow,290,78.0,386851.0,1.0

In [195]:
coolness_df['rank'].max()

200.0

In [196]:
rank_pts = []
for row in coolness_df['rank']:
    rank_pts.append((100 - (row * .5))/100)

In [197]:
coolness_df['rank_pts'] = rank_pts

In [199]:
coolness_df.sort_values(['rank_pts'],ascending=False).head(5)

,artist_names,track_name,weeks_on_chart,rank,streams,WOC_ratio,rank_pts
12067,"Abdul Hannan, Rovalio",Bikhra,10,1.0,203875.0,0.034,0.995
11683,Keung To,作品的說話,11,1.0,285090.0,0.038,0.995
15028,"V:RGO, EMIL TRF, FYRE, 2bona",PARALIA,6,1.0,48896.0,0.021,0.995
20985,Formalite,Mahvettim,2,1.0,23120.0,0.007,0.995
23073,j-hope,Airplane,1,1.0,454813.0,0.003,0.995

In [200]:
coolness_df['streams_ratio'] = coolness_df['streams'].div(4026918).round(3)
coolness_df.sort_values(['streams_ratio'],ascending=False).head(5)

,artist_names,track_name,weeks_on_chart,rank,streams,WOC_ratio,rank_pts,streams_ratio
8862,Tulus,Hati-Hati di Jalan,19,9.0,4026918.0,0.066,0.955,1.000
12506,João Gomes,Dengo,10,20.0,4025622.0,0.034,0.900,1.000
13642,Keisya Levronka,Tak Ingin Usai,8,3.0,3624225.0,0.028,0.985,0.900
4292,Henrique & Juliano,A Maior Saudade - Ao Vivo,45,19.0,3549891.0,0.155,0.905,0.882
12269,Jorge & Mateus,Todo Seu - Ao Vivo,10,18.0,3496942.0,0.034,0.910,0.868

In [201]:
coolness_df['Popularity_Score'] = (coolness_df['WOC_ratio'] + coolness_df['rank_pts'] + coolness_df['streams_ratio'])/3

In [202]:
coolness_df = coolness_df.sort_values(['Popularity_Score'],ascending=False)
coolness_df.head(5)

,artist_names,track_name,weeks_on_chart,rank,streams,WOC_ratio,rank_pts,streams_ratio,Popularity_Score
8862,Tulus,Hati-Hati di Jalan,19,9.0,4026918.0,0.066,0.955,1.000,0.673667
4292,Henrique & Juliano,A Maior Saudade - Ao Vivo,45,19.0,3549891.0,0.155,0.905,0.882,0.647333
12506,João Gomes,Dengo,10,20.0,4025622.0,0.034,0.900,1.000,0.644667
13642,Keisya Levronka,Tak Ingin Usai,8,3.0,3624225.0,0.028,0.985,0.900,0.637667
12269,Jorge & Mateus,Todo Seu - Ao Vivo,10,18.0,3496942.0,0.034,0.910,0.868,0.604000

In [203]:
usa_df = music_df.loc[music_df['country'] == 'United States']
usa_df.head(5)

,artist_names,track_name,rank,weeks_on_chart,streams,danceability,energy,loudness,speechiness,acousticness,valence,tempo,duration,country
184,Cody Johnson,'Til You Can't,154,1,1556168,0.501,0.815,-4.865,0.0436,0.0513,0.46,160.087,224,United States
185,Cody Johnson,'Til You Can't,158,2,1689695,0.501,0.815,-4.865,0.0436,0.0513,0.46,160.087,224,United States
186,Cody Johnson,'Til You Can't,151,3,1727287,0.501,0.815,-4.865,0.0436,0.0513,0.46,160.087,224,United States
187,Cody Johnson,'Til You Can't,183,4,1576313,0.501,0.815,-4.865,0.0436,0.0513,0.46,160.087,224,United States
188,Cody Johnson,'Til You Can't,135,5,1793033,0.501,0.815,-4.865,0.0436,0.0513,0.46,160.087,224,United States

In [215]:
usa_df = usa_df.drop_duplicates(subset=['artist_names','track_name'],keep='first')
usa_df = usa_df[['artist_names','track_name','country']]
usa_df.head(5)

,artist_names,track_name,country
184,Cody Johnson,'Til You Can't,United States
778,"Eminem, Nate Dogg",'Till I Collapse,United States
799,Kay Starr,(Everybody's Waitin' For) The Man With The Bag...,United States
824,Perry Como,(There's No Place Like) Home for the Holidays ...,United States
1185,$uicideboy$,"...And to Those I Love, Thanks for Sticking Ar...",United States

In [206]:
usa_coolness_df = pd.merge(coolness_df,usa_df,how='inner',left_on=['artist_names','track_name'],right_on=['artist_names','track_name'])
usa_coolness_df = usa_coolness_df.sort_values(['Popularity_Score'],ascending=False)
usa_coolness_df.head(5)

,artist_names,track_name,weeks_on_chart,rank,streams,WOC_ratio,rank_pts,streams_ratio,Popularity_Score,country
0,The Killers,Mr. Brightside,290,97.0,591710.0,1.000,0.515,0.147,0.554000,United States
1,Kid Cudi,love.,1,29.0,3233804.0,0.003,0.855,0.803,0.553667,United States
2,Fleetwood Mac,Dreams - 2004 Remaster,260,96.0,481432.0,0.897,0.520,0.120,0.512333,United States
3,J. Cole,No Role Modelz,277,114.0,305076.0,0.955,0.430,0.076,0.487000,United States
4,Morgan Wallen,You Proof,9,40.0,2442435.0,0.031,0.800,0.607,0.479333,United States

In [208]:
x = usa_coolness_df['weeks_on_chart'].max() 

usa_coolness_df['weeks_on_chart'].div(x).head(5)

0    1.000000
1    0.003448
2    0.896552
3    0.955172
4    0.031034
Name: weeks_on_chart, dtype: float64

In [216]:
# applying groupby() function to
# group the data on team value.
gk = music_df.groupby('country')
  
def create_df(country):
    cntry_df = gk.get_group(country)
    song_grpd = cntry_df.groupby(['artist_names','track_name']).aggregate({'streams':'mean','rank':'mean','weeks_on_chart':'max','danceability':'mean', 'energy':'mean','loudness':'mean',
        'speechiness':'mean', 'acousticness':'mean','valence':'mean', 'tempo':'mean', 'duration':'mean'}).round(3)
    song_grpd = song_grpd.reset_index()
    song_grpd['country'] = country
    song_grpd.sort_values(['weeks_on_chart'],ascending=False)
    x= song_grpd['weeks_on_chart'].max()
    song_grpd['WOC_ratio'] = song_grpd['weeks_on_chart'].div(x).round(3)
    song_grpd['rank'].max()
    rank_pts = []
    for row in song_grpd['rank']:
        rank_pts.append((100 - (row * .5))/100)
    song_grpd['rank_pts'] = rank_pts
    song_grpd.sort_values(['streams'],ascending=False)
    y = song_grpd['streams'].max()
    song_grpd['streams_ratio'] = song_grpd['streams'].div(y).round(3)
    song_grpd.sort_values(['streams_ratio'],ascending=False)
    song_grpd['Popularity_Score'] = (song_grpd['WOC_ratio'] + song_grpd['rank_pts'] + song_grpd['streams_ratio'])/3
    song_grpd.columns
    best_songs = song_grpd[['artist_names', 'track_name', 'Popularity_Score', 'WOC_ratio', 'rank_pts',
        'streams_ratio','streams', 'rank', 'weeks_on_chart',
        'danceability', 'energy', 'loudness', 'speechiness', 'acousticness',
        'valence', 'tempo', 'duration','country']]
    best_songs = best_songs.sort_values(['Popularity_Score'],ascending=False)
    top_fifty = best_songs.head(50)
    
    return top_fifty

In [217]:
for c in countries:
    country_df = create_df(c)
    all_countries_top_fifty = pd.merge(all_countries_top_fifty,country_df, how='outer')

In [218]:
all_countries_top_fifty.head(5)

,artist_names,track_name,Popularity_Score,WOC_ratio,rank_pts,streams_ratio,streams,rank,weeks_on_chart,danceability,energy,loudness,speechiness,acousticness,valence,tempo,duration,country
0,"Bizarrap, Quevedo","Quevedo: Bzrp Music Sessions, Vol. 52",0.626333,0.014,0.865000,1.000,3357665.500,27.000,2.0,0.621,0.782,-5.548,0.044,0.012,0.550,128.033,199.0,Argentina
1,"TINI, Maria Becerra",Miénteme,0.602362,0.429,0.892085,0.486,1631911.556,21.583,63.0,0.850,0.541,-4.522,0.067,0.161,0.916,92.003,165.0,Argentina
2,"Bad Bunny, Bomba Estéreo",Ojitos Lindos,0.585112,0.068,0.983335,0.704,2365299.333,3.333,10.0,0.647,0.686,-5.745,0.041,0.080,0.268,79.928,258.0,Argentina
3,"Bad Bunny, Chencho Corleone",Me Porto Bonito,0.578778,0.068,0.978335,0.690,2315401.667,4.333,10.0,0.911,0.712,-5.105,0.082,0.090,0.425,92.005,179.0,Argentina
4,"TINI, L-Gante",Bar,0.572930,0.238,0.905790,0.575,1929734.263,18.842,35.0,0.523,0.691,-3.802,0.083,0.133,0.677,94.148,160.0,Argentina