In [1]:
#Data Exploration by Crystal Butler

#Pull in song data from final.csv file
import pandas as pd
csv_data = "final.csv"

In [2]:
#read in csv data to dataframe
music_df = pd.read_csv(csv_data)

C:\Users\cmbut\AppData\Local\Temp\ipykernel_21472\2569950116.py:1: DtypeWarning: Columns (2,4,9,12,15,16,17,18,20,21,22,23,24,25,26,27,28,29,30,31,35) have mixed types. Specify dtype option on import or set low_memory=False.
  music_df = pd.read_csv(csv_data)

In [3]:
#view dataframe
music_df.head(5)

,Unnamed: 0,uri,rank,artist_names,artists_num,artist_individual,artist_id,artist_genre,artist_img,collab,...,acousticness,instrumentalness,liveness,valence,tempo,duration,country,region,language,pivot
0,0,spotify:track:2gpQi3hbcUAcEG8m2dlgfB,1,Paulo Londra,1.0,Paulo Londra,spotify:artist:3vQ0GE3mI0dAaxIMYe5g7z,argentine hip hop,https://i.scdn.co/image/ab6761610000e5ebf796a9...,0,...,0.0495,0.0,0.0658,0.557,173.935,178203.0,Argentina,South America,Spanish,0
1,1,spotify:track:2x8oBuYaObjqHqgGuIUZ0b,2,WOS,1.0,WOS,spotify:artist:5YCc6xS5Gpj3EkaYGdjyNK,argentine indie,https://i.scdn.co/image/ab6761610000e5eb75e151...,0,...,0.724,0.0,0.134,0.262,81.956,183547.0,Argentina,South America,Spanish,0
2,2,spotify:track:2SJZdZ5DLtlRosJ2xHJJJa,3,Paulo Londra,1.0,Paulo Londra,spotify:artist:3vQ0GE3mI0dAaxIMYe5g7z,argentine hip hop,https://i.scdn.co/image/ab6761610000e5ebf796a9...,0,...,0.241,0.0,0.0929,0.216,137.915,204003.0,Argentina,South America,Spanish,0
3,3,spotify:track:1O2pcBJGej0pmH2Y9XZMs6,5,Cris Mj,1.0,Cris Mj,spotify:artist:1Yj5Xey7kTwvZla8sqdsdE,urbano chileno,https://i.scdn.co/image/ab6761610000e5eb8f4ebc...,0,...,0.0924,0.000046,0.0534,0.832,96.018,153750.0,Argentina,South America,Spanish,0
4,4,spotify:track:1TpZKxGnHp37ohJRszTSiq,6,Emilia,1.0,Emilia,spotify:artist:0AqlFI0tz2DsEoJlKSIiT9,pop argentino,https://i.scdn.co/image/ab6761610000e5ebaf96d1...,0,...,0.0811,0.000063,0.101,0.501,95.066,133895.0,Argentina,South America,Spanish,0

In [4]:
#seeing what column names are included in the dataframe
music_df.columns

Index(['Unnamed: 0', 'uri', 'rank', 'artist_names', 'artists_num',
       'artist_individual', 'artist_id', 'artist_genre', 'artist_img',
       'collab', 'track_name', 'release_date', 'album_num_tracks',
       'album_cover', 'source', 'peak_rank', 'previous_rank', 'weeks_on_chart',
       'streams', 'week', 'danceability', 'energy', 'key', 'mode', 'loudness',
       'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration', 'country', 'region', 'language',
       'pivot'],
      dtype='object')

In [5]:
#take away unneeded columns and create new reduced df
music_reduced = music_df[['artist_names', 'track_name','rank', 'artists_num', 'artist_genre', 'release_date','weeks_on_chart',
       'streams', 'week', 'danceability', 'energy','loudness',
       'speechiness', 'acousticness', 'instrumentalness',
       'valence', 'tempo', 'duration', 'country']]

In [6]:
#view new dataframe
music_reduced.head()

,artist_names,track_name,rank,artists_num,artist_genre,release_date,weeks_on_chart,streams,week,danceability,energy,loudness,speechiness,acousticness,instrumentalness,valence,tempo,duration,country
0,Paulo Londra,Plan A,1,1.0,argentine hip hop,2022-03-23,4,3003411,2022-04-14,0.583,0.834,-4.875,0.0444,0.0495,0.0,0.557,173.935,178203.0,Argentina
1,WOS,ARRANCARMELO,2,1.0,argentine indie,2022-04-06,2,2512175,2022-04-14,0.654,0.354,-7.358,0.0738,0.724,0.0,0.262,81.956,183547.0,Argentina
2,Paulo Londra,Chance,3,1.0,argentine hip hop,2022-04-06,2,2408983,2022-04-14,0.721,0.463,-9.483,0.0646,0.241,0.0,0.216,137.915,204003.0,Argentina
3,Cris Mj,Una Noche en Medellín,5,1.0,urbano chileno,2022-01-21,8,2080139,2022-04-14,0.87,0.548,-5.253,0.077,0.0924,0.000046,0.832,96.018,153750.0,Argentina
4,Emilia,cuatro veinte,6,1.0,pop argentino,2022-03-24,3,1923270,2022-04-14,0.761,0.696,-3.817,0.0505,0.0811,0.000063,0.501,95.066,133895.0,Argentina

In [7]:
#check out datatypes of each column
music_reduced.dtypes

artist_names        object
track_name          object
rank                object
artists_num         object
artist_genre        object
release_date        object
weeks_on_chart      object
streams             object
week                object
danceability        object
energy              object
loudness            object
speechiness         object
acousticness        object
instrumentalness    object
valence             object
tempo               object
duration            object
country             object
dtype: object

In [8]:
#delete rows that have strings in them
music_removed = music_reduced[music_reduced['rank'].str.contains("rank") == False]

In [10]:
#show unique values for the rank and remove unnecessary spaces
music_removed['rank'].str.strip()
music_removed['rank'].unique()

array(['78', '79', '82', '86', '91', '92', '94', '96', '98', '100', '101',
       '102', '104', '105', '108', '109', '110', '111', '113', '114',
       '116', '118', '119', '120', '122', '126', '127', '128', '129',
       '131', '135', '137', '143', '144', '148', '152', '154', '157',
       '158', '159', '160', '161', '162', '163', '165', '166', '168',
       '169', '170', '171', '172', '180', '182', '183', '185', '191',
       '192', '194', '195', '198', '199', '200', '1', '2', '3', '4', '5',
       '6', '7', '8', '10', '11', '12', '14', '15', '16', '17', '19',
       '20', '21', '22', '23', '24', '25', '27', '29', '32', '33', '34',
       '36', '38', '39', '41', '42', '44', '45', '47', '48', '49', '50',
       '52', '53', '54', '55', '60', '62', '63', '64', '65', '66', '67',
       '68', '69', '71', '74', '77', '80', '81', '83', '85', '87', '89',
       '93', '99', '103', '106', '107', '123', '125', '133', '134', '139',
       '142', '149', '150', '153', '164', '167', '181', '184', '187',
       '188', '193', '196', '13', '18', '26', '28', '30', '31', '35',
       '40', '43', '46', '57', '59', '70', '73', '75', '76', '84', '90',
       '95', '97', '115', '121', '130', '141', '174', '175', '176', '177',
       '178', '189', '190', '9', '56', '58', '61', '88', '112', '117',
       '124', '132', '136', '138', '146', '156', '186', '145', '147',
       '155', '179', '197', '37', '51', '72', '140', '151', '173'],
      dtype=object)

In [15]:

# creating a dictionary 
# with column name and data type

data_types_dict = {'artist_names': str, 'track_name': str, 'rank': int,'artists_num': float, 'artist_genre': str,'weeks_on_chart': float,
       'streams': float, 'danceability': float, 'energy': float,'loudness': float,
       'speechiness': float, 'acousticness': float, 'instrumentalness': float,
       'valence': float, 'tempo': float, 'duration': float, 'country': str}
  
# we will change the data type 
# of id column to str by giving
# the dict to the astype method
# change two date columns from string to datatime dtype
music_removed = music_removed.astype(data_types_dict)
music_removed["release_date"] = pd.to_datetime(music_removed["release_date"])
music_removed["week"] = pd.to_datetime(music_removed["week"])  
# checking the data types
# using df.dtypes method
music_removed.dtypes

artist_names                object
track_name                  object
rank                         int32
artists_num                float64
artist_genre                object
release_date        datetime64[ns]
weeks_on_chart             float64
streams                    float64
week                datetime64[ns]
danceability               float64
energy                     float64
loudness                   float64
speechiness                float64
acousticness               float64
instrumentalness           float64
valence                    float64
tempo                      float64
duration                   float64
country                     object
dtype: object

In [16]:
#view changes
music_removed.head()

,artist_names,track_name,rank,artists_num,artist_genre,release_date,weeks_on_chart,streams,week,danceability,energy,loudness,speechiness,acousticness,instrumentalness,valence,tempo,duration,country
16384,"Bad Bunny, Tony Dize",La Corriente,78,2.0,latin hip hop,2022-05-06,3.0,497509.0,2022-05-26,0.663,0.786,-3.510,0.1950,0.229,0.00000,0.579,196.12,198367.0,Argentina
16385,"Blessd, Justin Quiles, Lenny Tavárez",Medallo,79,3.0,reggaeton,2021-10-27,30.0,493240.0,2022-05-26,0.787,0.700,-4.598,0.0768,0.568,0.00051,0.791,90.02,233453.0,Argentina
16386,"Blessd, Justin Quiles, Lenny Tavárez",Medallo,79,3.0,reggaeton,2021-10-27,30.0,493240.0,2022-05-26,0.787,0.700,-4.598,0.0768,0.568,0.00051,0.791,90.02,233453.0,Argentina
16387,"Blessd, Justin Quiles, Lenny Tavárez",Medallo,79,3.0,reggaeton flow,2021-10-27,30.0,493240.0,2022-05-26,0.787,0.700,-4.598,0.0768,0.568,0.00051,0.791,90.02,233453.0,Argentina
16388,"Eladio Carrion, Nicki Nicole",Nota,82,2.0,trap triste,2022-05-19,1.0,481864.0,2022-05-26,0.700,0.545,-5.563,0.3490,0.723,0.00000,0.643,91.05,159483.0,Argentina

In [17]:
#seeing if we have rows with null data

music_removed.count()

artist_names        1130423
track_name          1130423
rank                1130423
artists_num         1130423
artist_genre        1130423
release_date        1130423
weeks_on_chart      1130423
streams             1130423
week                1130423
danceability        1130169
energy              1130169
loudness            1130169
speechiness         1130169
acousticness        1130169
instrumentalness    1130169
valence             1130169
tempo               1130169
duration            1130169
country             1130423
dtype: int64

In [18]:
#find all unique values for "week" column
unique_dates = music_removed['week'].unique()
len(unique_dates)

232

In [19]:
#put these dates into a list and sort, so we can see the first and last date
unique_dates = [unique for unique in unique_dates]
len(unique_dates)
unique_dates.sort()
print(unique_dates[0])
print(unique_dates[-1])

2016-12-29T00:00:00.000000000
2022-07-14T00:00:00.000000000

In [21]:
#grouping songs and seeing which countries that they have streams for
artist_group = music_removed.groupby(music_removed['artist_names'])
artist_grouped = music_removed.groupby(["artist_names", "track_name","country"])["streams"].sum()
artist_grouped_df = pd.DataFrame(artist_grouped).sort_values(['track_name','streams'])
artist_grouped_df.head(5)

                                            streams
artist_names track_name         country
SyKo         #BrooklynBloodPop! Bulgaria     6046.0
                                Ukraine     43356.0
                                Latvia      50964.0
                                Romania     68026.0
                                Lithuania  146408.0

In [22]:
#seeing all the unique countries in the database
music_removed['country'].unique()

array(['Argentina', 'Australia', 'Austria', 'Belarus', 'Belgium',
       'Bolivia', 'Brazil', 'Bulgaria', 'Canada', 'Chile', 'Colombia',
       'Costa Rica', 'Cyprus', 'Czech Republic', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Finland', 'France', 'Germany', 'Global', 'Greece', 'Guatemala',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kazakhstan',
       'Korea', 'Latvia', 'Lithuania', 'Luxembourg', 'Malaysia', 'Mexico',
       'Morocco', 'Netherlands', 'New Zealand', 'Nicaragua', 'Nigeria',
       'Norway', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Romania', 'Saudi Arabia', 'Singapore',
       'Slovakia', 'South Africa', 'Spain', 'Sweden', 'Switzerland',
       'Taiwan', 'Thailand', 'Turkey', 'United Arab Emirates',
       'United Kingdom', 'Ukraine', 'Uruguay', 'United States',
       'Venezuela', 'Vietnam'], dtype=object)

In [23]:
#removing "global" from dataframe because we only want unique 'country' values
df_w_countries = music_removed.loc[music_removed['country'] != 'Global']
df_w_countries['country'].unique()
df_w_countries.head()

,artist_names,track_name,rank,artists_num,artist_genre,release_date,weeks_on_chart,streams,week,danceability,energy,loudness,speechiness,acousticness,instrumentalness,valence,tempo,duration,country
16384,"Bad Bunny, Tony Dize",La Corriente,78,2.0,latin hip hop,2022-05-06,3.0,497509.0,2022-05-26,0.663,0.786,-3.510,0.1950,0.22900,0.000000,0.579,196.120,198367.0,Argentina
16385,"Blessd, Justin Quiles, Lenny Tavárez",Medallo,79,3.0,reggaeton,2021-10-27,30.0,493240.0,2022-05-26,0.787,0.700,-4.598,0.0768,0.56800,0.000510,0.791,90.020,233453.0,Argentina
16386,"Blessd, Justin Quiles, Lenny Tavárez",Medallo,79,3.0,reggaeton,2021-10-27,30.0,493240.0,2022-05-26,0.787,0.700,-4.598,0.0768,0.56800,0.000510,0.791,90.020,233453.0,Argentina
16387,"Blessd, Justin Quiles, Lenny Tavárez",Medallo,79,3.0,reggaeton flow,2021-10-27,30.0,493240.0,2022-05-26,0.787,0.700,-4.598,0.0768,0.56800,0.000510,0.791,90.020,233453.0,Argentina
16388,"Eladio Carrion, Nicki Nicole",Nota,82,2.0,trap triste,2022-05-19,1.0,481864.0,2022-05-26,0.700,0.545,-5.563,0.3490,0.72300,0.000000,0.643,91.050,159483.0,Argentina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1769467,BTS,Permission to Dance,15,1.0,k-pop boy group,2021-07-23,26.0,134223.0,2022-01-06,0.702,0.741,-5.330,0.0427,0.00544,0.000000,0.646,124.925,187585.0,Vietnam
1769468,BTS,Dynamite,16,1.0,k-pop boy group,2020-11-20,72.0,131707.0,2022-01-06,0.746,0.765,-4.410,0.0993,0.01120,0.000000,0.737,114.044,199054.0,Vietnam
1769469,GAYLE,abcdefu,17,1.0,modern alternative pop,2021-08-13,7.0,128003.0,2022-01-06,0.695,0.540,-5.692,0.0493,0.29900,0.000000,0.415,121.932,168602.0,Vietnam
1769470,Da LAB,Thức Giấc,18,1.0,v-pop,2021-07-14,26.0,122294.0,2022-01-06,0.660,0.578,-8.591,0.0306,0.45000,0.000089,0.190,127.092,269021.0,Vietnam
1769471,Vũ.,Bước Qua Mùa Cô Đơn,21,1.0,v-pop,2020-12-10,56.0,119589.0,2022-01-06,0.480,0.353,-8.391,0.0319,0.68900,0.000186,0.319,135.824,278824.0,Vietnam

In [25]:
#looking at songs grouped with the countries that it is streamed in without 'global'
countries_grouped =df_w_countries.groupby(["artist_names", "track_name","country"])["streams"].sum()
df_countries_grouped = pd.DataFrame(countries_grouped).sort_values(['track_name','streams'])
df_countries_grouped.head(5)

                                            streams
artist_names track_name         country
SyKo         #BrooklynBloodPop! Bulgaria     6046.0
                                Ukraine     43356.0
                                Latvia      50964.0
                                Romania     68026.0
                                Lithuania  146408.0

In [26]:
#only pulling songs where United States is the country
usa_df = music_removed.loc[music_removed['country'] == 'United States']
usa_df.head()

,artist_names,track_name,rank,artists_num,artist_genre,release_date,weeks_on_chart,streams,week,danceability,energy,loudness,speechiness,acousticness,instrumentalness,valence,tempo,duration,country
1736825,Harry Styles,As It Was,1,1.0,pop,2022-03-31,1.0,24686367.0,2022-04-07,0.520,0.731,-5.338,0.0557,0.34200,0.001010,0.662,173.930,167303.0,United States
1736826,Glass Animals,Heat Waves,2,1.0,shiver pop,2020-08-06,71.0,6228260.0,2022-04-07,0.761,0.525,-6.900,0.0944,0.44000,0.000007,0.531,80.870,238805.0,United States
1736827,Olivia Rodrigo,good 4 u,5,1.0,pop,2021-05-21,47.0,4361310.0,2022-04-07,0.563,0.664,-5.044,0.1540,0.33500,0.000000,0.688,166.928,178147.0,United States
1736828,Lil Tjay,In My Head,7,1.0,brooklyn drill,2022-04-01,1.0,4216423.0,2022-04-07,0.684,0.545,-6.885,0.1210,0.15900,0.000000,0.407,143.049,135264.0,United States
1736829,Kodak Black,Super Gremlin,9,1.0,melodic rap,2022-02-25,19.0,4022821.0,2022-04-07,0.825,0.414,-6.634,0.1440,0.00265,0.000000,0.106,72.993,200548.0,United States

In [27]:
#seeing how many unique dates are in the usa_df
dates_unique = usa_df['week'].unique()
len(dates_unique)

76

In [29]:
#dropping null rows
df_w_countries = df_w_countries.dropna(how='any')
df_w_countries.head()

,artist_names,track_name,rank,artists_num,artist_genre,release_date,weeks_on_chart,streams,week,danceability,energy,loudness,speechiness,acousticness,instrumentalness,valence,tempo,duration,country
16384,"Bad Bunny, Tony Dize",La Corriente,78,2.0,latin hip hop,2022-05-06,3.0,497509.0,2022-05-26,0.663,0.786,-3.510,0.1950,0.229,0.00000,0.579,196.12,198367.0,Argentina
16385,"Blessd, Justin Quiles, Lenny Tavárez",Medallo,79,3.0,reggaeton,2021-10-27,30.0,493240.0,2022-05-26,0.787,0.700,-4.598,0.0768,0.568,0.00051,0.791,90.02,233453.0,Argentina
16386,"Blessd, Justin Quiles, Lenny Tavárez",Medallo,79,3.0,reggaeton,2021-10-27,30.0,493240.0,2022-05-26,0.787,0.700,-4.598,0.0768,0.568,0.00051,0.791,90.02,233453.0,Argentina
16387,"Blessd, Justin Quiles, Lenny Tavárez",Medallo,79,3.0,reggaeton flow,2021-10-27,30.0,493240.0,2022-05-26,0.787,0.700,-4.598,0.0768,0.568,0.00051,0.791,90.02,233453.0,Argentina
16388,"Eladio Carrion, Nicki Nicole",Nota,82,2.0,trap triste,2022-05-19,1.0,481864.0,2022-05-26,0.700,0.545,-5.563,0.3490,0.723,0.00000,0.643,91.05,159483.0,Argentina

In [30]:
#creating csv file
df_w_countries.to_csv('musicdf1.csv',index=False)

In [31]:
#checking how many columns are in the countries df
len(df_w_countries.columns)

19

In [33]:
#creating artist genre df
artist_genre_df = df_w_countries[['artist_names','artist_genre']]
artist_genre_df.head()

                               artist_names    artist_genre
16384                  Bad Bunny, Tony Dize   latin hip hop
16385  Blessd, Justin Quiles, Lenny Tavárez       reggaeton
16386  Blessd, Justin Quiles, Lenny Tavárez       reggaeton
16387  Blessd, Justin Quiles, Lenny Tavárez  reggaeton flow
16388          Eladio Carrion, Nicki Nicole     trap triste

In [114]:
#sending artist genre df to csv
artist_genre_df.to_csv('artist_genres.csv',index=False)

In [34]:
#getting rid of columns we don't need in this df
dropped_genre_df = df_w_countries.drop(df_w_countries[['artist_genre','release_date','artists_num','instrumentalness']], axis=1)

dropped_genre_df.head()

,artist_names,track_name,rank,weeks_on_chart,streams,week,danceability,energy,loudness,speechiness,acousticness,valence,tempo,duration,country
16384,"Bad Bunny, Tony Dize",La Corriente,78,3.0,497509.0,2022-05-26,0.663,0.786,-3.510,0.1950,0.229,0.579,196.12,198367.0,Argentina
16385,"Blessd, Justin Quiles, Lenny Tavárez",Medallo,79,30.0,493240.0,2022-05-26,0.787,0.700,-4.598,0.0768,0.568,0.791,90.02,233453.0,Argentina
16386,"Blessd, Justin Quiles, Lenny Tavárez",Medallo,79,30.0,493240.0,2022-05-26,0.787,0.700,-4.598,0.0768,0.568,0.791,90.02,233453.0,Argentina
16387,"Blessd, Justin Quiles, Lenny Tavárez",Medallo,79,30.0,493240.0,2022-05-26,0.787,0.700,-4.598,0.0768,0.568,0.791,90.02,233453.0,Argentina
16388,"Eladio Carrion, Nicki Nicole",Nota,82,1.0,481864.0,2022-05-26,0.700,0.545,-5.563,0.3490,0.723,0.643,91.05,159483.0,Argentina

In [35]:
#dropping duplicate row values
dup_removed_df = dropped_genre_df.drop_duplicates(subset=['artist_names','track_name','country','week'],keep='first').sort_values(['track_name','country','week'])
dup_removed_df

,artist_names,track_name,rank,weeks_on_chart,streams,week,danceability,energy,loudness,speechiness,acousticness,valence,tempo,duration,country
163644,SyKo,#BrooklynBloodPop!,189,2.0,6046.0,2021-07-29,0.691,0.814,-3.788,0.1170,0.01640,0.5090,132.012,145611.0,Bulgaria
479352,SyKo,#BrooklynBloodPop!,79,1.0,7204.0,2021-05-06,0.691,0.814,-3.788,0.1170,0.01640,0.5090,132.012,145611.0,Estonia
479738,SyKo,#BrooklynBloodPop!,54,2.0,9060.0,2021-05-13,0.691,0.814,-3.788,0.1170,0.01640,0.5090,132.012,145611.0,Estonia
486127,SyKo,#BrooklynBloodPop!,71,3.0,8243.0,2021-05-20,0.691,0.814,-3.788,0.1170,0.01640,0.5090,132.012,145611.0,Estonia
486653,SyKo,#BrooklynBloodPop!,108,4.0,7515.0,2021-05-27,0.691,0.814,-3.788,0.1170,0.01640,0.5090,132.012,145611.0,Estonia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
959271,Gaho,시작,160,5.0,7123.0,2021-03-04,0.591,0.818,-3.532,0.0730,0.17200,0.5740,108.107,202440.0,Korea
967607,2PM,우리집 My House,193,1.0,9327.0,2021-06-17,0.510,0.747,-3.654,0.2930,0.00188,0.7690,175.967,188907.0,Korea
964675,2PM,우리집 My House,189,2.0,10021.0,2021-07-08,0.510,0.747,-3.654,0.2930,0.00188,0.7690,175.967,188907.0,Korea
507789,Axel Kala,🥶,105,1.0,55717.0,2021-12-16,0.638,0.667,-8.509,0.0324,0.01880,0.6310,150.061,144649.0,Finland
270744,Coldplay,🪐,132,1.0,29799.0,2021-10-21,0.326,0.322,-20.192,0.0337,0.88700,0.0651,89.657,53185.0,Costa Rica

In [ ]:
#creating csv for dup removed df
dup_removed_df.to_csv('dupl_removed_final.csv',index=False)

In [ ]:
#dup_removed_df.groupby(dup_removed_df['track_name','artist_names']).count()

In [37]:
#converting duration to seconds
dup_removed_df['duration'] = dup_removed_df['duration'].div(1000).round(0)

In [39]:
#making sure duration is correct now
dup_removed_df.head()

,artist_names,track_name,rank,weeks_on_chart,streams,week,danceability,energy,loudness,speechiness,acousticness,valence,tempo,duration,country
163644,SyKo,#BrooklynBloodPop!,189,2.0,6046.0,2021-07-29,0.691,0.814,-3.788,0.117,0.0164,0.509,132.012,146.0,Bulgaria
479352,SyKo,#BrooklynBloodPop!,79,1.0,7204.0,2021-05-06,0.691,0.814,-3.788,0.117,0.0164,0.509,132.012,146.0,Estonia
479738,SyKo,#BrooklynBloodPop!,54,2.0,9060.0,2021-05-13,0.691,0.814,-3.788,0.117,0.0164,0.509,132.012,146.0,Estonia
486127,SyKo,#BrooklynBloodPop!,71,3.0,8243.0,2021-05-20,0.691,0.814,-3.788,0.117,0.0164,0.509,132.012,146.0,Estonia
486653,SyKo,#BrooklynBloodPop!,108,4.0,7515.0,2021-05-27,0.691,0.814,-3.788,0.117,0.0164,0.509,132.012,146.0,Estonia

In [ ]:
#creating final dataframe
dup_removed_df.to_csv('dupl_removed_final3.csv',index=False)